<div class="event-feed-headers">
  <h1>Event Feed</h1>
  <a href="/event/new_event" class="btn btn-primary">New Event</a>
</div>
<main class="feed">
  {{#each events}}
    <article class="event-post">
      <p class="tag-label-text">

        Title:

        <a href="/events/{{_id}}">
          {{title}}
        </a>
      </p>

      <div>Creator:
        <a
          href="/api/v1/users/{{organizer_id._id}}"
        >{{organizer_id.username}}</a></div>
    </article>
    <hr />

  {{/each}}
  

  {{#if page_details.is_prev_page}}
    <a
      href="/events?page={{page_details.prev_page}}&limit={{page_details.page_limit}}"
    >&lt;-</a>
  {{/if}}
  <a
    href="/events?page={{page_details.current_page}}&limit={{page_details.page_limit}}"
  >Page: {{page_details.current_page}}</a>
  {{#if page_details.is_next_page}}
    <a
      href="/events?page={{page_details.next_page}}&limit={{page_details.page_limit}}"
    > -&gt;</a>
  {{/if}}
</main>